
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for shopping in the Jungle!</h1>
    <p>
      You have successfully made a purchase with us, and here is the details:
    </p>

    <% @lineitems.map do |item| %>
      <li> <%= item[:quantity]%>   <%= item[:product] %> </li>
    <% end %>

    <p>
      your total amount is: $<%= @order.total_cents/100.to_f %>.
    </p>
    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>