// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.login{
  text-align: right;
  padding-right: 5em;
}

.register {
  text-align: center;
  padding-left: 0px;
}

.form {
  display: inline-block;
}

.review{
  position: relative;
  margin-top: 100px;
  p {
    font-size: 25px;
  }

}